* {
    margin: 0px;
    padding: 0px;
    font-family: 'Merriweather', serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
    font-family: 'Inter', sans-serif;
}

/* Header Style */
.container {
    width: 100%;
    max-width: 1460px;
    margin: 0px auto;
}
.new-year-div {

    color: #fff;
    text-align: center;
    font-size: 30px;
    font-style:unset;
    font-family: 'Merriweather', serif;
    font-weight: 400;
    line-height: 50px;
    padding: 150px;
}
.header {

    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../resources/Banner\ Image.png');
    background-position: center;
    background-size: 1120px 500px;
    border-radius: 16px;
    border-radius: 16px;
    margin-top: 50px;
    background-repeat: no-repeat;
}
.banner-tittle {
    color: #fff;
    text-align: center;
    font-family: Merriweather;
    font-size: 59.4px;
    font-style: normal;
    font-weight: 900;
    line-height: 95px;
}



/* Main Style */
.container2 {
    width: 100%;
    max-width: 1460px;
    margin: 0px auto;
}

.banner-offer {
    position: relative;

    top: 150px;
    left: 0%;
    right: 609px;
    color: #F00;

    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.banner-holiday {
    position: relative;
    top: 250px;
    left: 0%;
    right: 601px;
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.banner-categories {
    position: relative;
    top: 300px;
    left: 0%;
    right: 595px;
    bottom: 0px;
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.banner-image2 {
    position: relative;
    top: 450px;
    left: 310px;
    right: 398.1px;
    width: 802.9px;
    height: 500px;
    background-attachment: fixed;
}

.banner-image3 {
    position: relative;
    top: 596px;
    left: 10px;
    right: 140px;
    width: 1320px;
    height: 600px;
    background-repeat: no-repeat;
    background-image: url('../resources/Vectorrr.png');

}

.banner-group {
    position: relative;
    left: 10px;
    width: 1320px;
    height: 598px;
    border-radius: 16px;
    background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
    background-repeat: no-repeat;
}


.g {

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.g .group-text h2 {
    color: #FFF;
    position: absolute;
    top: 126px;
    left: 126px;
    right: 552px;
    bottom: 298px;
    width: 642px;
    font-family: Merriweather;
    font-size: 64px;
    font-style: normal;
    font-weight: 900;
    line-height: 88px;
}

.group-text2 {
    position: absolute;
    top: 326px;
    left: 126px;
    right: 497px;
    bottom: 214px;
    color: rgba(255, 255, 255, 0.80);
    width: 697px;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.gt {
    position: absolute;
    color: #FFF;
    top: 434px;
    left: 158px;
    right: 1059px;
    bottom: 142px;
    width: 1600px;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
}

.group-image {
    position: absolute;
    top: 68.11px;
    right: 138px;
    left: 862.17px;
    bottom: 67.23px;
    display: flex;
    width: 319.83px;
    height: 464.662px;
    padding: 0.008px 0px 0px 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;

}

.banner-deadline {
    position: absolute;
    top: 716px;
    right: 526px;
    left: 1px;
    bottom: 110px;
    padding: 100px 370px 214px 365px;
    border-radius: 16px;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    width: 600px;
    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
}

.banner-deadline button {
    position: absolute;
    top: 316px;
    right: 577px;
    bottom: 110px;
    left: 576px;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: #F00;
    color: #FFF;
    margin-bottom: 4437px;
    width: 180px;
    height: 56px;
    border-width: 1px;
    border-radius: 18px;
}

.color {
    color: #F00;
}

.groups {
    display: flex;
    justify-content: space-between;
}

.new-offer {
    position: absolute;
    top: 1420px;
    bottom: 4184px;
    left: 15px;
    right: 1253px;
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    width: 207px;
}

.Comming-Soon {
    position: absolute;
    top: 1470px;
    left: 14px;
    right: 1253px;
    bottom: 4184px;
    width: 368px;
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
}

.offer-text {
    position: absolute;
    top: 1550px;
    left: 14px;
    right: 1253px;
    bottom: 4184px;
    color: rgba(7, 2, 17, 0.60);
    width: 393px;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}

.year {
    position: absolute;
    top: 1408px;
    left: 1000px;
    right: 100px;
    bottom: 4184px;
    color: #F00;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
}

.year-text {
    position: absolute;
    top: 1470px;
    left: 998px;
    right: 100px;
    bottom: 4181px;
    color: rgba(7, 2, 17, 0.60);
    width: 376px;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}

.offer-image {
    position: absolute;
    top: 1660px;
    left: 1000px;
    right: 100px;
    bottom: 4181px;
    width: 140px;
    height: 140px;
    flex-shrink: 0;
}

.best-offer-image {
    position: relative;
    top: 1330px;
    left: 516px;
    right: 291px;
    bottom: 4184px;
    padding: 100px;
    width: 200.844px;
    height: 200.844px;
    flex-shrink: 0;
    border-radius: 864.844px;
    border: #F00;
    border-style: solid;
    border-width: 10px;
    background: #FFF;
}

.image-border {
    position: relative;
    top: 1257px;
    left: 27px;
    right: 300px;
    bottom: 4184px;
    padding: 100px;
    width: 100.844px;
    height: 100.844px;
    flex-shrink: 0;
}

.what-text {
    position: absolute;
    top: 1910px;
    left: 600px;
    right: 334px;
    width: 263px;
    color: #070211;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}

.sale1 {
    position: absolute;
    top: 1940px;
    left: 430px;
    right: 334px;
    width: 712px;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
}

.sale-message {
    position: absolute;
    text-align: center;
    top: 2090px;
    left: 350px;
    right: 334px;
    width: 800px;
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
}

.fashion1 {
    position: relative;
    top: 2200px;
    left: 200px;
    right: 0px;
    width: 429px;
    height: 433px;
    flex-shrink: 0;
    border-radius: 16px 16px 0px 0px;
}

.fashion3 {
    position: absolute;
    top: 2400px;
    left: 750px;
    width: 206.841px;
    height: 206.841px;
    flex-shrink: 0;
}

.fashion4 {
    position: relative;
    top: 2530px;
    right: 1120px;
    width: 1320px;
    height: 229px;
    flex-shrink: 0;
    border-radius: 16px 0px 16px 16px;
    background-image: url('../resources/Rectangle\ 2.png')
}

.fashion2 {
    position: relative;
    top: 2330px;
    right: 2400px;
    background-image: url('../resources/Group\ 75.png'), -webkit-linear-gradient(#939393);
}

.gift-announcment {
    position: absolute;
    top: 3130px;
    left: 30px;
    right: 1268px;
    width: 180px;
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}

.banner-portfolio {
    position: absolute;
    top: 3190px;
    left: 30px;
    right: 1268px;
    width: 640px;
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
}

.portfolio-text {
    position: absolute;
    top: 3280px;
    left: 30px;
    right: 1268px;
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    width: 800px;
    font-weight: 400;
    line-height: 32px;
}

.portfolio-image {
    position: absolute;
    left: 20px;
    top: 3410px;
    right: px;
    display: flex;
    align-content: space-between;

}

.rectangle1:hover {
    transform: scale(1.3);
    z-index: 2;
}

.rectangle1 {
    position: relative;
    left: 1px;
    bottom: 20px;
    transition: 0.5s;
}

.rectangle4:hover {
    transform: scale(1.3);
    z-index: 2;
}

.rectangle4 {
    position: relative;
    left: 20px;
    transition: 0.5s;
}

.rectangle5:hover {
    transform: scale(1.3);
    z-index: 2;
}

.rectangle5 {
    position: relative;
    left: 40px;
    transition: 0.5s;
}

.rectangle7:hover {
    transform: scale(1.3);
    z-index: 2;
}

.rectangle7 {
    position: relative;
    top: 14px;
    left: 20px;
    transition: 0.5s;
}

.rectangle8:hover {
    transform: scale(1.3);
    z-index: 2;
}

.rectangle8 {
    position: relative;
    top: 14px;
    left: 40px;
    transition: 0.5s;
}

.rectangle6:hover {
    transform: scale(1.3);
    z-index: 2;
}

.rectangle6 {
    position: relative;
    transition: 0.5s;
}

.portfolio-image1 {
    position: relative;
    top: 16px;
}

.last-image {
    position: absolute;
    left: 580px;
    top: 4800px;

}

.last-heading {
    position: absolute;
    top: 5130px;
    left: 300px;
    color: #070211;
    width: 1000px;
    font-family: Merriweather;
    font-size: 80px;
}

.last-text {
    position: absolute;
    top: 5270px;
    left: 80px;
    color: rgba(7, 2, 17, 0.60);
    width: 1300px;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    line-height: 32px;
    font-weight: 400;
}

.email-address {
    display: flex;
}

.search {
    position: absolute;
    top: 5400px;
    left: 330px;
    width: 648px;
    height: 72px;
    flex-shrink: 0;
    border-radius: 50px;
    background: #FFF;
    color: rgba(7, 2, 17, 0.30);
    font-family: Inter;
    font-size: 18px;
    margin-left: 0px;
    padding-left: 30px;
}

.subscribe {
    position: absolute;
    top: 5400px;
    left: 900px;
    width: 210px;
    height: 76px;
    flex-shrink: 0;
    border-radius: 0px 50px 50px 0px;
    background: #F00;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    padding-left: 54px;
    padding-right: 56px;
}

.parts {
    display: flex;
    position: absolute;
    top: 5700px;
    left: -350px;
    background: #070211;
    color: #FFF;
    border-radius: 16px;
}

.foot-address {
    padding-top: 120px;
    padding-left: 340px;
    color: #FFF;
    width: 450px;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
}

.copyright {
    padding-top: 460px;
    padding-left: 340px;
    padding-bottom: 120px;
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.contact {
    padding-top: 120px;
    padding-left: 750px;
    padding-right: 291px;
    width: 200px;
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
}

.website {
    padding: 8px 275px 0px 750px;
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
}

.unsubscribe {
    padding: 460px 140px 120px 900px;
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.cell-phone {
    position: relative;
    top: -80px;
    left: 720px;
    width: 24px;
    height: 24px;
    flex-shrink: 0;

}

.web {
    position: relative;
    left: 690px;
    top: -30px;
    width: 24px;
    height: 24px;
    flex-shrink: 0;
}

.logo-group {
    position: relative;
    align-content: space-around;
    top: 400px;
    left: -1100px;
    display: flex;
    width: 64px;
    height: 64px;
    flex-shrink: 0;
}

.Facebook {
    padding-right: 24px;
}

.Instagram {
    padding-right: 24px;
}

.Twitter {
    padding-right: 24px;
    ;
}

.Linkdin {
    padding-right: 24px;
}